/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Vars */
:root {
    --bg-color: #010101;
    --white-4: #FFFFFF0A;
    --white-8: #FFFFFF14;
    --white-12: #FFFFFF1F;
    --white-20: #FFFFFF33;
    --white-40: #FFFFFF66;
    --white-60: #FFFFFF99;
    --white-80: #FFFFFFCC;
    --white-95: #FFFFFFF2;
    --shadow-color: #01010114;
    --orange: #FF7D46;
    --orange-progress: #FF6400;
    --error: #E95460;
    --orange-5: #FF7D460D;
    --orange-10: #FF7D461A;
    --neutral-solid-25: #FAFBFC;
    --neutral-solid-20: #E7EAEE;
    --scrollbar-color: rgb(60, 77, 75);
    --text-font: 'Inter', monospace;
    --text-line-height: 2.2rem;
    --text-letter-spacing: -2%;
    --text-font-weight: 300;
     --text-font-size: 1.6rem;
    --text-font-meduim: 1.4rem;
    --text-font-small: 1.2rem;
    --text-small-line-height: 2rem;
    --heading-font: 'Lora', cursive;
    --heading-line-height: 4rem;
    --heading-font-weight: 500;
    --heading-font-size: 3.2rem;
    --heading2-font-size: 2.4rem;
    --heading2-font-weight: 400;
    --heading2-line-height: 3.2rem;
    --input-border-radius: .8rem;
    --border-radius-12: 1.2rem;
    --border-radius-16: 1.6rem;
    --border-radius-20: 2rem;
    --border-radius-28: 2.8rem;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
    font-size: 62.5%;
}

body {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
  background: var(--bg-color);
  overflow-y: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

::-webkit-scrollbar {
  background-color: var(--white-4);
  width: .5rem;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  var(--scrollbar-color);
  border-radius: var(--input-border-radius);
}

::-webkit-scrollbar:horizontal {
  background-color: var(--bg-color);
  height: .5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes fade {
  0% {
      opacity: 0;
      visibility: hidden;
  }

  100% {
      opacity: 1;
      visibility: visible;
  }
}

.keycard_shell__main-container {
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  color: var(--white-95);
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: fade 300ms;
}

.keycard_shell__update-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    width: 95%;
    height: 100vh;
    margin: 0 2.5%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.keycard_shell__shell-connected-container {
    flex-basis: calc(50% - .5rem);
    width: calc(50% - .5rem);
    flex-grow: 0;
    height: calc(90vh);
    background-color: var(--white-4);
    border: solid .1rem var(--white-12);
    border-radius: var(--border-radius-28);
    padding: 2.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8rem;
}

.keycard_shell__shell-connected-img {
    width: 24.7rem;
}

.keycard_shell__heading-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.keycard_shell__device-update-container {
  flex-basis: calc(50% - .5rem);
  width: calc(50% - .5rem);
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .8rem;
}

.keycard_shell__update-btns-container {
    width: 100%;
    height: calc(45vh - .4rem);
    background-color: var(--white-4);
    border: solid .1rem var(--white-12);
    border-radius: var(--border-radius-28);
    padding: 2.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.keycard_shell__h2 {
    font-family: var(--heading-font);
    font-weight: var(--heading2-font-weight);
    font-size: var(--heading2-font-size);
    line-height: var(--heading2-line-height);
    letter-spacing: var(--text-letter-spacing);
}

.keycard_shell__version-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: .8rem;
}

.keycard__shell_version-label {
    font-family: var(--text-font);
    font-size: var(--text-font-small);
    font-weight: var(--text-font-weight);
    line-height: var(--text-small-line-height);
    letter-spacing: var(--text-letter-spacing);
    color: var(--white-80);
}

.keycard_shell__fw-changelog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .1rem;
    padding: 0;
    box-sizing: border-box;
}

.keycard_shell__fw-changelog-text {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.keycard_shell__update-btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8rem;
    width: 100%;
    margin: .3rem 0;
}

.keycard_shell__btn {
  font-family: var(--text-font);
  background-color: var(--white-4);
  border: solid .1rem var(--white-8);
  border-radius: var(--border-radius-12);
  width: 100%;
  color: var(--orange);
  font-size: var(--text-font-meduim);
  font-weight: var(--heading2-font-weight);
  line-height: var(--text-line-height);
  outline: none;
  padding: .8rem;
  box-sizing: border-box;
  opacity: 1;
  cursor: pointer;
  text-align: left;
}

.keycard_shell__local-update-btn {
    background-image: url(../img/local.svg);
    background-size: 2rem;
    background-clip: padding-box;
    background-position: right .8rem center;
    background-repeat: no-repeat;
}

.keycard_shell__online-update-btn {
    background-image: url(../img/online.svg);
    background-size: 2rem;
    background-clip: padding-box;
    background-position: right .8rem center;
    background-repeat: no-repeat;
}

.keycard_shell__btn:disabled,
.keycard_shell__btn[disabled] {
  opacity: .7;
}

.keycard_shell__btn-label {
    width: 100%;
    cursor: pointer;
}

.keycard_shell__load-progress-bar-container {
  width: 50%;
  margin: 3em auto 2em auto;
}

.keycard_shell__load-update-container {
    width: 36rem;
    background-color: var(--white-4);
    border: solid .1rem var(--white-12);
    border-radius: var(--border-radius-28);
    padding: 2.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.keycard_shell__progress-bar-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: .4rem;
}

.keycard_shell__progress-bar-label {
    font-family: var(--text-font);
    font-size: var(--text-font-small);
    font-weight: var(--text-font-weight);
    color: var(--white-80);
    line-height: var(--text-small-line-height);
}

.keycard_shell__progress-bar {
  width: 100%;
}

progress {
  border-radius: var(--border-radius-16);
  height: 1.2rem;
  background: var(--white-4);
  border: solid .1rem var(--white-12);
}

progress::-webkit-progress-bar {
  border-radius: var(--border-radius-16);
  height: 1.2rem;
  background: var(--white-4);
}

progress::-webkit-progress-value {
  background: var(--orange-progress);
  border-radius: var(--border-radius-16);
}

progress::-moz-progress-bar {
  background: var(--white-4);
}

progress::-moz-progress-value {
  background: var(--orange-progress);
  border-radius: var(--border-radius-16);
}

.keycard_shell__message-log-container {
  width: 100%;
}

.keycard_shell__message {
  font-size: var(--text-font-meduim);
  font-weight: var(--text-font-weight);
  color: var(--orange-progress);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .4rem;
  align-items: center;
}

.keycard_shell__message-err-img {
    color: var(--error);
    width: 2rem;
    height: 2rem;
}

.keycard_shell__load-update-btn-container {
    width: 100%;
}

.keycard_shell__load-update-btn {
    text-align: center;
}

.keycard_shell__version {
  background: none;
  border: none;
  font-family: 'Inter', monospace;
  color: white;
  font-weight: 200;
  font-size: .75em;
  outline: none;
  padding: 0;
  padding-bottom: .2em;
  border-bottom: .1rem solid white;
}

.keycard_shell__version {
  display: inline-block;
  border-bottom: none;
}

.keycard_shell__modal-body {
  font-family: 'Inter', monospace;
}

.keycard_shell__fw-local-update, .keycard_shell__fw-online-update, .keycard_shell__erc20-local-update, .keycard_shell__erc20-online-update {
    display: inline-block;
}

.keycard_shell__connect-container {
    width: 38rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.2rem;
    background-color: var(--white-4);
    border: solid .1rem var(--white-12);
    border-radius: var(--border-radius-28);
    letter-spacing: var(--text-letter-spacing);
    padding: 2rem;
    box-sizing: border-box;
}

.keycard_shell__h1 {
    width: 22rem;
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    color: var(--white-95);
}

.keycard_shel__prompt {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    color: var(--white-60);

}

.keycard_shell__connect-img-container {
    width: 33.2rem;
}

.keycard_shell__connect-img {
    width: 100%;
}

.keycard_shell__or {
    font-weight: 600;
    font-size: .85em;
}

.keycard_shell__display-none {
  display: none;
}